# Unreal Engine folders to ignore
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.sln
*.opensdf
*.sdf
*.suo
*.log
*.user
*.userprefs
*.DS_Store
*.pdb
*.obj
*.exe
*.dll
*.app
*.dylib
*.class
*.jar
*.pyc
*.ipch
*.aps
*.ncb
*.cache
*.ilk
*.tmp
*.log
*.vsconfig
.diversion/
.dvignore